{% extends "base.html" %}

{% block app_content %}

    <h1>Меню</h1>
    <ul>
        <li><a href="/auth">Войти в аккаунт</a></li>
        <li><a href="/registration">Зарегистрироваться</a></li>
        <li><a href="/profile/{{current_user.id}}">Мой профиль</a></li>
        <li><a href="/profile/edit">Редактировать мой профиль</a></li>
        <li><a href="/map">Карта</a></li>
        <li><a href="/messages">Сообщения</a></li>
    </ul>
    {% if users %}
    <h2>Уже присоединились:</h2>
    {% for user in users %}
        {% include '_user.html' %}
    {% endfor %}
    {% endif %}
{% endblock %}